input[type="text"], 
input[type="email"], 
input[type="password"] {
  // padding: 12px;
  // width: 100%;
  // border: 2px solid $border-color-gray_strong;
  // color: $font-color-gray;
  // background-color: $background-color-white;
  // font-size: $font-size-normal;
  // line-height: 14px;
  // &::placeholder {
  //   color: $font-color-gray_light;
  // }
  // &.is-error {
  //   // border-color: $border-color-red;
  // }
  // &:focus {
  //   outline: none;
  //   background-color: $background-color-white;
  // }
  padding: 12px;
  width: 100%;
  background: red;
  //font-size: 1.6rem;
  &::placeholder {
    color: red;
  }
  &::focus {
    outline: none;
  }
}