//global color
$orange: #ffa800;
$gray: #b3b5b7;
$gray_light: #d5d7d8;
$white: #fff;
$white_gray: #c4c4c4;

// background color
$background-color-orange: $orange;
$background-color-white: $white;

// font color
$font-color-gray: $gray;
$font-color-white: $white;
$font-color-gray_light: $gray_light;
$font-color-gray_strong: $gray_strong;
$font-color-orange: $orange;

// border color
$border-color-gray: $gray;
$border-color-white_gray: $white_gray;
$border-color-gray_strong: $gray_strong;